*{

    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family:  verdana   ;
    
}


body{

    height: 100vh;
    width: 100vw;
    background-color: black;
    overflow-x: hidden;
}



.title{
    color: white;
    margin-left: 15px;
}
.navbr{
    position: relative;
    left: 5px;
}

.title2{
    color:  orange;
   
}



.thumbimg{
    cursor: pointer;
    border: 2px solid orange;
    border-radius: 15px;
    transition: 1s;

}

.thumbimg:hover{
    transform: scale(1.03);
    transition: 1s;
}

.head{
    margin-bottom: 15px;
}



.hdr{
    width: 100%;
    border: 5px double orange;
    position: relative;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    margin-bottom: 15px;
}


.titl{
    position: relative;
   
}

.srch{
    margin-left:365px;
}
.btn{
    margin-left: 8px;
}

.ctrl{

    background-color: transparent;
    cursor: pointer;
    border: none;
}

.carousel-control-prev-icon ,.carousel-control-next-icon {
    transform: scale(4);
    transition: 1s;
}.carousel-control-prev-icon:hover ,.carousel-control-next-icon:hover{
    transition: 1s;
}

